{% extends 'dashboard/base.html' %}


{% block content %}

<div class="row g-3 row-cols-3">

    <div class="col draggable" id="the_adder">
        <div class="box">
            <button id="add_view" class="btn btn-primary">Add View</button>
            <select class="form-select" style="display:none;" id="user__choice" size="3" aria-label="size 3 select example">
                {% for crypto in cryptocurrencies %}
                    <option value="{{crypto.api_id}}" data-name="{{crypto.name}}">{{crypto.symbol}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    

    <div class="col draggable">
        <div class="box">
            <img class="img-fluid" src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index"/>
        </div>
    </div>

    <div class="col draggable">
        <div class="box">
            <h5>Cointelegraph</h5>
            <script src="https://cointelegraph.com/news-widget" data-ct-widget-limit="30" data-ct-widget-theme="dark" data-ct-widget-language="en"></script>
        </div>
    </div>
    
</div>

{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
let addView = document.querySelector("#add_view")
let card = document.querySelector("#card1")
addView.addEventListener("click", function(e){
    e.target.style.display = "none" //change the button to hide
    document.querySelector("#user__choice").style.display = "block" //show the list
})

document.querySelector("#user__choice").addEventListener("change",function(e){
    alert("ok")
    
    let slug = e.target.options[e.target.selectedIndex].getAttribute("data-name")
    let theId = parseInt(e.target.value)
    getDataForBox(slug, theId)

    async function getDataForBox(slug, theId){
        let {data} =  await axios.get(`https://api.alternative.me/v2/ticker/${slug}/`)
        console.log(typeof theId, theId)
        //let name = data.data.theId.name
        let name = data.data[theId].name
        let symbol = data.data[theId].symbol
        let price = data.data[theId].quotes.USD.price
        let change1 = data.data[theId].quotes.USD.percent_change_1h
        let change24 = data.data[theId].quotes.USD.percent_change_24h

        let html = `
        <div class="col draggable">
            <div class="box">
                <h5>${name}</h5>
                <div>Symbol: ${symbol}</div>
                <div>Price: $ ${price}</div>
                <div> % (1h): ${change1}</div>
                <div> % (24h): ${change24}</div>
            </div>
        </div>
        `
 
        let pos = document.querySelector("#the_adder")
        pos.insertAdjacentHTML("beforebegin", html);
        document.querySelector("#user__choice").style.display = "none"
        document.querySelector("#add_view").style.display = "block"
    }

    axios.post('',{name: slug})
})

</script>

{% endblock js %}