{% extends 'dashboard/base.html' %}


{% block content %}




<div class="row gx-3 row-cols-3">
    <div class="col">
        <div class="draggable">
            <h5>{{btc.data.1.name}}</h5>
            <div>{{btc.data.1.symbol}}</div>
            <div>Price: ${{btc.data.1.quotes.USD.price}}</div>
            <div> % (1h): {{btc.data.1.quotes.USD.percent_change_1h}}</div>
            <div> % (24h): {{btc.data.1.quotes.USD.percent_change_24h}}</div>
        </div>
    </div>
    <div class="col" id="card1">
        <div class="draggable">
            <form method="post">
                {% csrf_token %}
                    <input id="new_input" name="q" type="text"/>
                    <button type="submit" id="add_view" class="btn btn-primary">Add</button>
                </form>
        </div>
    </div>
    <div class="col">
        <div class="draggable">
            <img class="img-fluid" src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index"/>
        </div>
    </div>

    <div class="col m-2 draggable">
        <div class="draggable">
            <h5>Cointelegraph</h5>
        <script src="https://cointelegraph.com/news-widget" data-ct-widget-limit="30" data-ct-widget-theme="dark" data-ct-widget-language="en"></script>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}

<script>
let addViewButton = document.querySelector("#add_view")
let inputField = document.querySelector("#new_input")
let card = document.querySelector("#card1")
addViewButton.addEventListener("click", function(e){
    console.log(inputField.value)
    let q = inputField.value
    let theUrl = `https://api.alternative.me/v2/ticker/${q}`
    async function crypto(theUrl){
        let response = await fetch(theUrl)
        let data = await response.json()
    }
    
})


document.addEventListener("click",function(e){
    let element = e.target
    if (e.target.id == "btc"){
    card.innerHTML = ""
    card.innerHTML = `
        <h5>{{btc.data.1.name}}</h5>
        <div>{{btc.data.1.symbol}}</div>
        <div>Price: ${{btc.data.1.quotes.USD.price}}</div>
        <div> % (1h): {{btc.data.1.quotes.USD.percent_change_1h}}</div>
        <div> % (24h): {{btc.data.1.quotes.USD.percent_change_24h}}</div>
        
    `
    }
})

</script>

{% endblock js %}